<h1>Dashboard</h1>
<% unless @menus.empty? %>
  <% @menus.each do |day_menu, courses| %>
    <div>
      <h2>
        <a data-toggle="collapse" data-target="#menu_<%= day_menu.id %>">
          <%= day_menu.date.strftime("%A, %d %b %Y") %>
        </a>
      </h2>
    </div>
    <% if courses %>
      <div id="menu_<%= day_menu.id %>" class="col-md-12 collapse">
        <% if day_menu.date == Date.today %>
          <%= link_to 'Make order for today', new_user_lunch_path %>
        <% end %>
        <% courses.each do |course_name, course| %>
          <h3>
            <%= course_name.humanize + ':' %>
          </h3>
          <div class="col-md-12">
            <div class="row">
              <% course.each do |dish| %>
                <div class="col-md-3">
                  <div>
                    <%= dish.name + ', ' %>
                    <%= dish.price.to_s + ' $' %>
                  </div>
                  <div>
                    <%= image_tag(dish.photo.thumb.url, alt: dish.name) if dish.photo? %>
                  </div>
                </div>
              <% end %>
            </div>
            <hr>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>
        This day's menu is empty. Perhaps the administrator will add several dishes here later.
      </p>
    <% end %>
  <% end %>
<% end %>