<!DOCTYPE html>
<html>
  <head>
    <title>Lunch Ordering</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Lunch Ordering</a>
        </div>
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Dashboard', root_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Make lunch order', new_user_lunch_path %>
            </li>
            <% if current_user.is_admin %>
              <p class="navbar-text">Admin section: </p>
              <li class="nav-item">
                <%= link_to 'All users', all_users_path%>
              </li>
              <li class="nav-item">
                <%= link_to 'Days', all_days_path%>
              </li>
              <li class="nav-item">
                <%= link_to "Today's menu editing", current_menu_path%>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to current_user.user_name, show_user_path(current_user.id)%>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'nav-link'  %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% elsif flash[:alert]%>
        <div class="alert alert-warning"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>