<!DOCTYPE html>
<html>
  <head>
    <title>Lunch Ordering</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top">
      <a href="/" class="navbar-brand">Lunch Ordering</a>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <a href="/">Dashboard</a>
            </li>
            <% if current_user.is_admin %>
              <li class="nav-item">
                <a href="#">All users</a>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to current_user.user_name, edit_user_registration_path%>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'nav-link'  %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>